table,
table tr,
table tr th,
table tr td {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}
th {
    background-color: darkgray;
}
tr.odd {
    background-color: lightgray;
}
tr.even {
    background-color: whitesmoke;
}

.id {
    text-align: right;
}
.name {
    text-align: left;
}
.numberOfUsers {
    text-align: right;
}

.firstName {
    text-align: left;
}
.lastName {
    text-align: left;
}
.email {
    text-align: left;
}
.numberOfVisits {
    text-align: right;
}

.event-log {
    height: 200px;
    width: 600px;
}
